@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:wght@100;200&display=swap');
*{
    padding: 0;
    margin: 0;
}
.text-center{
    text-align: center;
}
header{
    height: 58px;
    background-color: #dad7b0;
    border: 2px solid red;
    font-family: 'Lato', sans-serif;
}
.card-items{
    width: 160px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
nav{
    display: flex;
    align-items: center;
}
.logo{
   
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px
}
nav ul{
    height: 9vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
nav ul li{
    
    list-style: none;
    padding: 0px 23px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(0, 17, 255);
    font-weight: bold;
}
.search{
   display: flex;
   align-items: center;
}
.search input{
    margin: 0px 10px 0px 56px;
    width: 500px;
    height: 25px;
    border-radius: 5px;
    padding-left: 10px;
}
.btn{
    padding: 5px 7px;
    color: rgb(0, 0, 0);
    background-color: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    

}
.btn:hover{
    color: blue;
    font-weight: bold;

}
.container{
    min-height: 80vh;
    

}
.slider{
    display: flex;
    justify-content: center;
    width: 80vh;
    margin: 12px auto;
}
.cards{
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    overflow: auto;
    /* width: 80vh; */
}
.card{
    max-width: 90vw;
    margin: 0px 10px;
}
.card h2{
    margin: 20px 0px;
    /* font-family: 'Lato', sans-serif; */
}
footer{
    height: 12vh;
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;

}